<ion-header>
  <ion-toolbar>
    <ion-title> NGANDJUI IVAN </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button>NHID</ion-button>
  <ion-button expand="block" fill="outline" (click)="onDialog()">
    mon bouton</ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>ISI 4 STUDENT</ion-card-subtitle>
      <ion-card-title>IDENTITY</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <img src="assets/NGANDJUI_Id.jpg" alt="" />
      Il s'agit de moi
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-badge color="primary" mode="ios" slot="end">42</ion-badge>
      <ion-avatar>
        <img src="assets/NGANDJUI_Id.jpg" alt="petit logo" />
      </ion-avatar>
      <ion-label>
        <h3>2122i003</h3>
        <p>NGANDJUI</p>
        <p>ISI 4</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label></ion-label>
    </ion-item>
    <ion-item>
      <ion-label>DELORS</ion-label>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-grid fixed>
      <ion-row>
        @for (etudiant of tabEtudiant; track $index) {
          <ion-col size="12" size-sm="12" size-md="6" size-xl="4">
            <ion-item>
              <ion-label>
                <h3>{{etudiant.nom}}</h3>
                <p>{{etudiant.prenom}}</p>
                <p>{{etudiant.classe}}</p>
              </ion-label>
            </ion-item>
          </ion-col>
        }
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title> Copyright </ion-title>
  </ion-toolbar>
</ion-footer>
